/*
 * file: css/css.css
 * purpose: styling: 

 * Krav for opgaven:
 - "External CSS: Struktur og præsentation skal være adskilt"
 - "Performance: Produktet skal være optimeret i relation til Page Load Time"
 - "SEO: Optimer din kode til søgemaskiner"
 - "Semantisk HTML; semantiske tags"

*/


/* Definerer de mest brugte farver og andre elementer i koden */
:root {
    --skriftfarve: #000;
    --primaer-lyseroed: #f9CBCE;
    --sekundaer-lyseroed: #DfADB0;
    --sekundaer-moerk-lyseroed: #C78D91;  
    --primaer-gul: #FFF3A4;
    --sekundaer-gul: #DFD381;
    --sekundaer-moerk-gul: #CCC06E;
}

body {
    background-color: var(--primaer-lyseroed);
}

.logo-og-bar {
    display: flex; /* Billederne er på linje  */
    justify-content: space-between; /* Opdeler så logo er længst til venstre og bar er længst til højre */
    align-items: center; /* Placerer begge elementer i midtne horisontalt */
}

.logo {
    width: 45%;
}


.bar {
    width: 10%;
    height: 10%;
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/*styling af burgermenu*/
.dropdown-indhold { 
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--sekundaer-moerk-lyseroed);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-indhold li {
    padding: 10px;
}

.dropdown-indholdli a {
    text-decoration: none;
    color: var(--skriftfarve);

}

/*har ingen effekt pt??*/
.dropdown-indhold li:hover {
    background-color: var(--sekundaer-lyseroed);
}

/*checkboks som gør det muligt at åbne/lukke burgermenu - uden brug af js*/
#bar-checkbox:checked ~ .dropdown-indhold {
    display: block;
}

/*skjuler checkbox - i stedet for brug af js */
#bar-checkbox {
    display: none;
}


