/*
 * file: css/css.css
 * purpose: styling: 

 * Krav for opgaven:
 - "External CSS: Struktur og præsentation skal være adskilt"
 - "Performance: Produktet skal være optimeret i relation til Page Load Time"
 - "SEO: Optimer din kode til søgemaskiner"
 - "Semantisk HTML; semantiske tags"

*/

/*---------------------------------------------------*/

/*Definerer at alt skrift i vores CSS er farven "skriftfarve"*/
* {
    color: var(--skriftfarve);
}


/* Definerer de mest brugte farver og andre elementer i koden */
:root {
    --skriftfarve: #000;
    --primaer-lyseroed: #f9CBCE;
    --sekundaer-lyseroed: #DfADB0;
    --sekundaer-moerk-lyseroed: #C78D91;  
    --primaer-gul: #FFF3A4;
    --sekundaer-gul: #DFD381;
    --sekundaer-moerk-gul: #CCC06E;
}

a {
    text-decoration: none; /* Fjerner understregninger */
}

body {
    background-color: var(--primaer-lyseroed);
}

/*----------------------------------------------------*/

.logo-og-bar {
    display: flex; /* Billederne er på linje  */
    justify-content: space-between; /* Opdeler så logo er længst til venstre og bar er længst til højre */
    align-items: center; /* Placerer begge elementer i midtne horisontalt */
}

/* Styling af baren */
.logo {
    width: 30%; /* størrelse på logo */
    padding: 2%; /* luft omkinrg logo, til kant af skærm */
    padding-left: 4%; /* Luft omkring logo, til venstre kant */
}

/* Styling af baren */
.bar {
    width: 30%;
    height: 30%;
    position: relative;
    display: inline-block;
    flex-direction: left;
}



/* DESIGN FOR NAV.BAR - DROPDOWN ---------------------*/

.dropdown {
    position: relative;
    display: inline-block;
}

/*styling af burgermenu*/
.dropdown-indhold { 
    display: none;
    position: absolute; 
    top: 100%; /* Placerer dropdown-menuen under baren*/
    right: 0;/* Placerer menuen til højre for den overordnede knap */
    background-color: var(--sekundaer-moerk-lyseroed);/* Baggrundsfarve for dropdown-menu */
    z-index: 1000; /* Sikrer at dropdown-menuen er foran andre elementer */
}

.dropdown-indhold li {
    padding: 10px; /*afstand mellem hvert link, i baren*/
    list-style-type: none; /*fjerner prikker for hver undermenu*/
}



/* DESIGN FOR NAV.BAR - CHECKBOX ---------------------*/

/*har ingen effekt pt??*/
.dropdown-indhold li:hover {
    background-color: var(--sekundaer-lyseroed);
}

/*checkboks som gør det muligt at åbne/lukke burgermenu - uden brug af js*/
#bar-checkbox:checked ~ .dropdown-indhold {
    display: block;
}

/*skjuler checkbox - i stedet for brug af js */
#bar-checkbox {
    display: none;
}




/* DESIGN FOR NAV.BAR - LISTE ELEMENTER --------------*/

/* Styling for liste elementer*/
.liste-over-indhold-i-kategori {
    display: none;
    position: absolute;
    top: 0;
    left: 100%; /* placerer listelementer til højre for menuelementet */
    background-color: var(--sekundaer-moerk-lyseroed);
    z-index: 1000;
}

.dropdown-indhold li:hover .liste-over-indhold-i-kategori {
    display: block; /* Viser listeelementer, når et menuelement klikkes */
}

.liste-over-indhold-i-kategori li {
    padding: 10px;
    list-style-type: none;
}

/*----------------------------------------------------*/



